<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsa iste illum temporibus deleniti itaque ea voluptatibus tempora sed hic, fuga laboriosam ab voluptatum ipsam molestias in dicta qui vero veniam. Quaerat totam facere id architecto reprehenderit, voluptatibus ratione cupiditate et, at, aliquam optio rerum odio. Autem, iure laudantium quidem nihil, dolore tempora culpa similique soluta consequuntur nobis at dignissimos, blanditiis ab laborum fuga nisi veritatis corrupti ea iste? Dolor nam harum quam tempora. Laborum dicta voluptates deleniti officiis veritatis voluptatem. Laborum explicabo culpa, fugit doloremque ea placeat aliquid nihil iusto autem nisi quas illo laudantium voluptate natus praesentium obcaecati!</p>
    <button>Click me!</button>
</body>
</html>