*{
    text-align: center;
    font-family: Georgia;
}

p{
    color: 	#964B00;
    color: #f00;
    line-height: 30px;
}

h1{
    color: #000;
}

a{
    text-decoration: none;
    color: rgb(0,255,0);
}

button{
    background-color: white;
    color:blueviolet; 
}

textarea{
    color: #000;
}

span{
    text-decoration: underline;
}